<html>
<body>
<div class="row">
<% @users.each do |user| %> 
<div class="col-sm-6">
<div class="thumbnail">
<div class="caption">
<%= link_to user.name, user_url(movie) %> <%= user.name %> 
</a>
</div>
</div>
</div>
<% end %>
</div>
</body>
</html>
